@page "/"

<PageTitle>Home</PageTitle>

<h1>Dashboard</h1>

@* <MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="6" md="4" Class="d-flex justify-center">
        <MudCard Style="min-width: 250px; width: 100%; max-width: 320px;">
            <MudCardContent Class="d-flex align-items-center">
                <MudIcon Icon="@Icons.Material.Filled.Person" Size="Size.Large" Color="Color.Tertiary" Class="me-3" />
                <div>
                    <MudText Typo="Typo.subtitle1">Users</MudText>
                    <MudText Typo="Typo.h6">12</MudText>
                </div>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary" Href="/users">See All</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>

    <MudItem xs="12" sm="6" md="4" Class="d-flex justify-center">
        <MudCard Style="min-width: 250px; width: 100%; max-width: 320px;">
            <MudCardContent Class="d-flex align-items-center">
                <MudIcon Icon="@Icons.Material.Filled.WaterDrop" Size="Size.Large" Color="Color.Info" Class="me-3" />
                <div>
                    <MudText Typo="Typo.subtitle1">Water Intake</MudText>
                    <MudText Typo="Typo.h6">24</MudText>
                </div>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary" Href="/water">See All</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid> *@
